<template>
  <options />
</template>
<script>
import Options from "@/components/Options.vue";

export default {
  name: "App",
  components: { Options },
};
</script>
<style>
html {
  width: 400px;
  height: 400px;
}
</style>
