<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/logo.png" />
    <title>Article Galaxy Widget</title>
  </head>
  <style>
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

    body {
      font-size: 18px;
      font-family: "Roboto", "Helvetica";
      width: 100vw;
      height: 100vh;
      background-color: #f2f5f8;
      margin: 0;
      padding: 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }
    hr {
      margin-top: 3em;
      border: 1px solid #a7a7a7;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
      display: flex;
    }
    h1.title {
      justify-content: center;
      padding: 50px;
      align-items: center;
    }
    .is-primary {
      background-color: #314456 !important;
    }

    .save {
      display: flex;
      justify-content: flex-end;
    }
    .save button:first-child {
      margin-right: 10px;
    }

    .subtitle {
      color: #adadad;
    }
    a {
      text-decoration: underline;
      color: #1036ff;
    }

    .agw_back {
      background-color: white;
      height: 100vh;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
    }
    .actions a {
      padding: 10px;
      color: #a7a7a7;
      font-size: 15px;
    }
    .actions:first-child {
      border-right: 1px solid #f2f5f8;
    }
    .content-block {
      padding: 0px 50px;
    }
    .version {
      padding: 0 100px;
    }
    .title {
      font-weight: 400;
    }
    .logo {
      width: 180px;
    }
    .title span {
      margin: 0 20px;
    }
    footer {
      margin-top: 30px;
      margin-left: 40px;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
    footer a {
      color: #a7a7a7;
    }
  </style>

  <body>
    <main>
      <div class="container is-fullhd is-mobile">
        <div class="column agw_back is-10 is-offset-1 content">
          <div>
            <section class="actions" v-if="getnavigator() !== 'Firefox'">
              <!-- <a class="is-underlined" href="">Rate Us</a>
            <a class="is-underlined" href="">Send Feedback</a> -->
              <a
                class="is-underlined"
                target="_blank"
                href="https://help.reprintsdesk.com/hc/en-us/requests/new"
                >Get Help</a
              >
            </section>
            <h1 class="title is-1">
              <span> About </span>
              <div class="logo">
                <img src="/assets/AG3_logo.svg" alt="Article Galaxy Logo" />
              </div>
              <span> Widget for Chrome </span>
            </h1>
            <div class="block content-block">
              <div class="block">
                <p class="subtitle">
                  <small class="is-size-5"
                    ><strong>Article Galaxy</strong> by
                    <strong>Research Solutions</strong> provides one-click
                    access to journal articles and book chapters at the lowest
                    cost, saving you up to 28% off your article spend. And with
                    86% of the articles delivered within seconds, there's no
                    time lost from discovery to access.
                  </small>
                </p>
              </div>
              <div class="block">
                <p class="subtitle">
                  <small class="is-size-5">
                    <strong>Article Galaxy Widget</strong> is a versatile
                    browser extension that works 80+ popular discovery websites.
                    Easily installed into your browser, it instantly transforms
                    flat search results on PubMed, Google Scholar, and other
                    discovery portals, extracting all citations for simplified
                    viewing and filtering.</small
                  >
                </p>
              </div>
              <hr />
            </div>
          </div>

          <section class="version">
            <div>
              <p class="title is-5">
                Version: <br /><small class="subtitle is-6">2.0</small>
              </p>
              <p class="title is-5">
                Created by: <br /><small class="subtitle is-6"
                  ><a href="https://www.researchsolutions.com" target="_blank"
                    >Research Solutions / Reprints Desk</a
                  ></small
                >
              </p>

              <p class="title is-5">
                Home Page: <br /><small class="subtitle is-6"
                  ><a
                    href="https://www.researchsolutions.com/widget101"
                    target="_blank"
                    >https://www.researchsolutions.com/widget101</a
                  ></small
                >
              </p>

              <p class="title is-5">
                Licensing: <br /><small class="subtitle is-6"
                  ><a
                    target="_blank"
                    href="https://www.researchsolutions.com/terms-of-use"
                    >License</a
                  ></small
                >
              </p>

              <p class="title is-5">
                Attributions: <br /><small class="subtitle is-6"
                  >Some icons by
                  <a href="https://material.io/design" target="_blank"
                    >Google Material Design</a
                  ></small
                >
              </p>
            </div>
          </section>
          <footer>
            <p>
              Powered by
              <a target="_blank" href="https://www.researchsolutions.com"
                >Research Solutions</a
              >
              /
              <a target="_blank" href="https://www.researchsolutions.com"
                >Reprints Desk</a
              >
            </p>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
