@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

.noty_layout.notification {
  opacity: 0 !important;
}
@keyframes slidein {
  from {
    margin-top: -2%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

#agw-toolbar {
  font-family: "Roboto";
  position: fixed;
  top: 0;
  z-index: 1100;
  width: 100%;
  display: none;
  justify-content: center;
}

.agw_toolbar button,
.agw_toolbar button[type="button"] {
  font-family: "Roboto";
  cursor: pointer;
}
.agw_toolbar {
  font-family: "Roboto";
  animation-name: slidein;
  animation-duration: 1s;
  background-color: #314456;
  border: 2px solid #f1f1f1;
  padding: 5px 10px 5px 0px;
  color: #f1f1f1;
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 10px 8px 11px -5px rgba(0, 0, 0, 0.56);
  box-shadow: 10px 8px 11px -5px rgba(0, 0, 0, 0.56);
  z-index: 90;
  border-top: none;
  margin-bottom: 5px;
}
.agw_toolbar_actions {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.agw_toolbar_close {
  margin: 5px 0 0 10px;
  display: flex;
  align-items: center;
}
.agw_toolbar_close span {
  cursor: pointer;
}
.agw_toolbar_info {
  display: flex;
  padding-right: 5px;
}
.agw_toolbar_info span {
  margin-left: 5px;
  cursor: pointer;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
}
.agw_toolbar button.agw_toolbar_fullAccess {
  background: #d97728 !important;
  color: #f1f1f1 !important;
  font-weight: 500 !important;
  border: 1px solid white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px !important;
}
.agw_toolbar_logo,
.agw_toolbar_mainInfo,
.agw_toolbar_counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agw_toolbar_counter p {
  margin: 0 !important;
}
.agw_toolbar_logo div {
  width: 180px;
  position: relative;
  height: 300px;
  background: url("./AGWLogo.svg") center center no-repeat;
}
.agw_toolbar_mainInfo {
  width: 51%;
  justify-content: space-between;
  font-size: 16px;
}
.agw_toolbar #count {
  color: #f1f1f1 !important;
}

:root {
  --agw-main-size: 50px;
}

.agw-fab {
  font-family: "Roboto";
  font-weight: bold;
  background: none;
  border: none;
  width: var(--agw-main-size);
  height: var(--agw-main-size);
  position: fixed;
  right: 2%;
  top: 70vh;
  cursor: pointer;
  z-index: 99;
  display: none;
}
.agw-circle {
  border-radius: 50%;
}
.agw-blue {
  width: var(--agw-main-size);
  height: var(--agw-main-size);
  background-color: #314456;
  position: absolute;
}
.agw-white {
  width: calc(var(--agw-main-size) - 10px);
  height: calc(var(--agw-main-size) - 10px);
  background-color: white;
  position: absolute;
  left: 10%;
  top: 10%;
}
.agw-orange-center {
  width: calc(var(--agw-main-size) - 25px);
  height: calc(var(--agw-main-size) - 25px);
  background-color: #f27e21;
  position: absolute;
  left: 26%;
  top: 25%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.agw-orange-center:active {
  background-color: #f8a360;
}
.agw-orange-right,
.agw-orange-left {
  width: calc(var(--agw-main-size) - 37px);
  height: calc(var(--agw-main-size) - 37px);
  position: absolute;
  background-color: #f27e21;
  border: 1px solid white;
}
.agw-orange-right {
  top: 4%;
  left: 70%;
}
.agw-orange-left {
  top: 66%;
  left: 4%;
}
.agw-tooltip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid #000;
  bottom: -20px;
  border-radius: 10px;
  padding: 5px 10px;
  display: none;
  font-size: 12px;
  text-align: center;
}
.agw-tooltip-info {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 20px;
  display: none;
  font-size: 12px;
  left: 60%;
  text-align: left;
  width: 200px;
}
.agw-tooltip-info strong {
  color: #000;
}
.agw-tooltip-info ul {
  margin: 0;
  list-style: none;
  padding: 0;

}
.agw-tooltip-info li {
  margin: 0;
  list-style: none;

}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .agw_toolbar_logo div {
    width: 140px;
  }
  .agw_toolbar_mainInfo {
    width: 54%;
  }

  .agw_toolbar_fullAccess {
    font-size: 13px;
    padding: 5px;
  }
  .agw_toolbar_counter .material-icons {
    font-size: 14px;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .agw_toolbar_logo div {
    width: 140px;
  }
  .agw_toolbar_mainInfo {
    width: 56%;
  }
  .agw_toolbar_fullAccess {
    font-size: 13px;
    padding: 7px;
    height: unset;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .agw_toolbar {
    width: 70%;
  }
  .agw_toolbar_mainInfo {
    width: 56%;
  }
  .agw_toolbar_fullAccess {
    font-size: 13px;
    padding: 7px;
    height: unset;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .agw_toolbar {
    width: 70%;
    height: unset;
  }
}

@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .agw_toolbar {
    width: 70%;
  }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .agw_toolbar {
    width: 70%;
  }
  .agw_toolbar_logo div {
    width: 140px;
  }
  .agw_toolbar_mainInfo {
    width: 54%;
  }

  .agw_toolbar_fullAccess {
    font-size: 13px;
    padding: 5px;
  }
  .agw_toolbar_counter .material-icons {
    font-size: 14px;
  }
  .agw_toolbar_counter #count {
    font-size: 12px;
  }
}
