<template>
  <div class="container is-fullhd is-mobile">
    <div class="column agw_back is-10 is-offset-1">
      <section class="actions" v-if="getnavigator() !== 'Firefox'">
        <a class="is-underlined" @click="openAbout">More info</a>
        <a
          class="is-underlined"
          href="https://help.reprintsdesk.com/hc/en-us/requests/new"
          >Get Help</a
        >
      </section>
      <div class="block save" v-if="getnavigator() === 'Firefox'">
        <button class="button" @click="cancel">Cancel</button>
        <button class="button is-primary" @click="setData">Save</button>
      </div>
      <h1 class="title">{{ title }}</h1>
      <hr />
      <div class="block">
        <div class="block">
          <label class="checkbox label">
            <input type="checkbox" v-model="toolbar" />
            Open the toolbar automatically when citations are found on the
            page.<br />
          </label>
          <p class="subtitle">
            <small class="is-size-6"
              >You can open the toolbar by clicking the extension icon or by
              clicking the floating action button.</small
            >
          </p>
        </div>
        <div class="block">
          <label class="checkbox label">
            <input type="checkbox" v-model="floatingbutton" />
            Show the floating action button when the toolbar is closed and
            citations are found on the page. <br />
          </label>
          <p class="subtitle">
            <small class="is-size-6">
              You can open the toolbar by clicking the extension icon.</small
            >
          </p>
        </div>
      </div>
      <div class="block save" v-if="getnavigator() !== 'Firefox'">
        <button class="button" @click="cancel">Cancel</button>
        <button class="button is-primary" @click="setData">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Options",

  data: () => ({
    title: "Article Galaxy Widget Options",
    floatingbutton: true,
    toolbar: true,
  }),
  mounted() {
    this.getData();
  },
  methods: {
    cancel() {
      window.close();
    },
    getData() {
      let self = this;
      chrome.storage.sync.get(["floatingbutton", "toolbar"], function (items) {

        const { floatingbutton, toolbar } = items;
        self.floatingbutton = floatingbutton;
        self.toolbar = toolbar;
      });
    },
    setData() {
      let self = this;
      chrome.storage.sync.set(
        {
          floatingbutton: self.floatingbutton,
          toolbar: self.toolbar,
        },
        function () {
          window.close();
          console.log("Save Data");
        }
      );
    },
    getnavigator() {
      var sBrowser,
        sUsrAg = navigator.userAgent;

      if (sUsrAg.indexOf("Chrome") > -1) {
        sBrowser = chrome;
      } else if (sUsrAg.indexOf("Safari") > -1) {
        sBrowser = "Safari";
      } else if (sUsrAg.indexOf("Opera") > -1) {
        sBrowser = chrome;
      } else if (sUsrAg.indexOf("Firefox") > -1) {
        sBrowser = browser;
      } else if (sUsrAg.indexOf("MSIE") > -1) {
        sBrowser = browser;
      }
      return sBrowser;
    },
    openAbout() {
      const url = chrome.runtime.getURL("assets/about.html");
      chrome.tabs.create({ url });
    },
  },
};
</script>
<style>
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  font-size: 18px;
  font-family: "Roboto", "Helvetica";
  width: 100vw;
  height: 100vh;
  background-color: #f2f5f8;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
.is-primary {
  background-color: #314456 !important;
}
label {
  text-indent: 0;
}
.save {
  display: flex;
  justify-content: flex-end;
  padding:10px;
}
.save button:first-child {
  margin-right: 10px;
}

.subtitle {
  text-indent: 20px;
  color: #6f6f6f;
}

.agw_back {
  background-color: white;
  height: 100vh;
}
.actions {
  display: flex;
  justify-content: flex-end;
}
.actions a {
  padding: 10px;
  color: #a7a7a7;
  font-size: 15px;
}
.actions:first-child {
  border-right: 1px solid #f2f5f8;
}
button{
  width:120px;
}
</style>
